@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");

* {
  margin: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  background: #f5f5f5;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.app-body {
  display: flex;
  width: 100%;
  margin-top: 25px;
  max-width: 1128px;
}

.loader-container {
  display: grid;
  place-items: center;
  height: 100vh;
  width: 100%;
}

.loader-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.loader-content > img {
  height: 100px;
  padding: 20px;
  margin-bottom: 40px;
}
