.postModal-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  color: black;
  background: rgba(0, 0, 0, 0.8);
}

.modal {
  width: 100%;
  max-width: 552px;
  background-color: white;
  max-height: 90%;
  border-radius: 10px;
  position: relative;
  display: flex;
  flex-direction: column;
  top: 50px;
  margin: 0 auto;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  padding-left: 20px;
  padding-right: 20px;
  border-bottom: solid 1px rgba(44, 44, 44, 0.4);
  font-size: 16px;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.6);
}

.modal-header > div {
  cursor: pointer;
  width: 25px;
  height: 25px;
  max-width: auto;
}

.modal-container {
  margin-left: 10px;
  margin-right: 10px;
  overflow-y: scroll;
}

.modal-container::-webkit-scrollbar {
  display: none;
}

.modal-user {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  padding: 8px 12px;
}

.modal-userInfo {
  display: flex;
  align-items: center;
  padding: 12px 14px;
}

.modal-userInfo > .MuiAvatar-root {
  margin-right: 5px;
}

.modal-userInfo > span {
  font-size: 16px;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.6);
}

.modal-contentAttach {
  display: flex;
  padding: 10px;
  padding-left: 12px;
  padding-right: 12px;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 25px;
}

.contentAttach-container {
  display: flex;
}

.content-attach {
  margin-left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-attach > .MuiSvgIcon-root {
  color: rgba(0, 0, 0, 0.7);
  width: 40px;
  cursor: pointer;
}

.modal-postBtn {
  outline: none;
  border: none;
  border-radius: 18px;
  background-color: #0a66c2;
  color: white;
  font-weight: 500;
  font-size: 15px;
  padding: 6px 16px;
  cursor: pointer;
}

.modal-postBtn:hover {
  background-color: #1576d6;
}

.modal-editorContainer {
  padding: 8px 12px;
}

.modal-editorContainer > textarea {
  width: 100%;
  min-height: 120px;
  outline: none;
  border: none;
  resize: none;
  line-height: 1.5;
  font-size: 14px;
}

.photoPick-container {
  text-align: center;
  border: dotted 1px lightgray;
  padding: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}

.photoPick-container > img {
  width: 100%;
}
